@{
// ViewBag.Title = "Home Page";
}

<html>
<head>
    <title>Cool site</title>
</head>
<body>
    <header>
        <h1>Page Logo goes here!</h1>
        <hr />
    </header>
    <section id="container">
        @RenderBody()
    </section>
    <footer>
        <hr />
        <p>Copyright</p>
    </footer>
</body>
</html>
